node_modules/
_site/
.wrangler/
.DS_Store
npm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# allow committing robots.txt that lives in the build output
!_site/robots.txt
!_site/ads.txt
!_site/humans.txt

# ignore local config or reports
*.txt
*.log
*.secret
.env
*.txt