node_modules/
_site/
.DS_Store
npm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# allow committing robots.txt that lives in the build output
!_site/robots.txt